<div class="container">
  <p>Common Specialities..</p>
  <!-- <div class="btn-group"> -->
  <button mat-button (click)='searchSpecialization("General Physician")'>General Physician</button>
  <button mat-button (click)='searchSpecialization("Paedriatrics")'>Paedriatrics</button>
  <button mat-button (click)='searchSpecialization("Opthalmologist")'>Opthalmologist</button>
  <button mat-button (click)='searchSpecialization("Gynaechologist")'>Gynaechologist</button>
  <button mat-button (click)='searchSpecialization("Neurologist")'>Neurologist</button>
  <button mat-button (click)='searchSpecialization("Cardiologist")'>Cardiologist</button>
  <button mat-button (click)='searchSpecialization("Dermatologist")'>Dermatologist</button>
  <button mat-button (click)='searchSpecialization("Orthopedic")'>Orthopedic</button>
  <button mat-button (click)='searchSpecialization("Dentist")'>Dentist</button>
  <button mat-button (click)='searchSpecialization("Physiotherapist")'>Physiotherapist</button>
 <!-- </div>       -->
 <br>
 <mat-dialog-actions class="close">
  <!-- <ng-container ngProjectAs="btn-close"> -->
  <button mat-button color="warn" (click)="close()">Close</button>
 <!-- </ng-container> -->
 </mat-dialog-actions>
 
 
 </div>